
.metadata/.lock

.metadata/.log

*.zip

.metadata/.plugins/org.eclipse.cdt.core/.log

*.c

*.cpp

.metadata/.plugins/org.eclipse.core.resources/.history/66/c08c7ec79c4a001313f9b32a4cf96e4e

*.index

*.snap

*.resources

*.prefs

.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps

.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt

.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt

.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat

.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml

.metadata/version.ini

SoundChecker/bin/jarlist.cache
